@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* @keyframes AppearFromRight {
        from {
            right: -90%;
        } to {
            right: 0;
        }
    } */
    @font-face {
        font-family: IranSansWeb;
        src: url(/public/fonts/IRANSansWeb.ttf);
    }
    html, body {
        @apply h-full w-full;
    }
    body {
        background-color: #fcfcfc;
    }
    /* @key */
    header {
        background-image: url(/public/images/main-page-bg.webp);
    }
    .animation-1x {
        animation-duration: 1000ms;
    }
    .animation-1\.5x {
        animation-duration: 1500ms;
    }
    .animation-0\.5x {
        animation-duration: 500ms;
    }

    .pointy-triangle {
        display: inline-block;
        content: '';
        width: 15px;
        height: 10px;
        clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
        position: absolute;
        z-index: 25;
    }
    .middle-10px {
        right: calc(50% - 5px);
    }
    .middle-from-top-15 {
        @apply -rotate-90;
        top: calc(50% - 7.5px);
    }
    .middle-from-top-20 {
        @apply -rotate-90;
        top: calc(50% - 10px);
    }
    .pointer-menu-item {
        @apply hover:bg-stone-100 relative rounded-sm p-3
        after:pointy-triangle after:middle-from-top-15 after:-left-3
        before:pointy-triangle before:middle-from-top-20 before:-left-[20px] before:w-[24px] before:h-[16px];
    }
    .pointer-menu-item.active {
        @apply bg-stone-100 before:bg-x-grey after:bg-stone-100;
    }
    .grid-important {
        @apply grid !important;
    }
    .no-content {
        content: '';
    }
}

@layer components {
    .animated {
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-duration: var(--animate-duration);
        animation-duration: var(--animate-duration);
        -webkit-animation-fill-mode: initial;
        animation-fill-mode: initial;
    }
    @keyframes growUp {
        from {
            @apply h-16;
        }
        to {
            height: 60%;
        }
    }
    .service-list > div {
        > div {
            transition: 500ms;
            &:before {
                content: '';
                clip-path: ellipse(60% 100% at bottom center);
                background-color: inherit;
                position: absolute;
                left: 0;
                top: -40px;
                z-index: 0;
                height: 40px;
                width: 100%;
                transition: 300ms;
            }
            > span {
                z-index: 3;
                position: relative;
            }
            > p {
                > a svg path {
                    @apply fill-gray-800;
                }
                > a:hover svg path {
                    @apply fill-black;
                }
            }
        }
        &:hover > div {
            animation: growUp 500ms linear;
            height: 60%;
            > p {
                transition: 1s;
                display: block;
            }
        }
    }
    .bg-squares {
        background-image: url(/public/images/white-black-rectangles.png);
        background-size: 1.75rem 1rem;
    }

    .svg-500-800 {
        @apply border-gray-500 text-gray-500 duration-300 hover:text-gray-800 hover:border-gray-800;
        > svg path {
            @apply fill-gray-500;
        }
        &:hover path {
            @apply fill-gray-800;
        }
    }
    .svg-500-800-white {
        @apply border-gray-300 text-gray-300 duration-300 hover:text-x-yellow hover:border-x-yellow;
        > svg path {
            @apply duration-300 fill-gray-300;
        }
        &:hover path {
            @apply fill-x-yellow;
        }
    }
    .underlined-heading {
        @apply relative mb-5;
    }
    .underlined-heading:after {
        content: '';
        height: 3px;
        width: 90%;
        position: absolute;
        right: 5%;
        background-color: #999;
        @apply rounded-full -bottom-3;
    }
    .empty-content {
        content: '';
        color: #ffbf70;
    }
    .circleular-dot {
        border: 3px solid #fcfcfc;
        @apply empty-content absolute flex items-center justify-center text-center pt-1 text-sm  w-8 h-8
            rounded-full left-1/2 -ml-4 -top-7;
    }
    .width-transition {
        transition: width 300ms cubic-bezier(0.915, 0.015, 0.3, 1.005);
    }
    /* .top-right-quarter-circle {
        content: '';
        position: absolute;
        top: -3rem;
        right: 0;
        width: 3rem;
        height: 3rem;
        background-color: transparent;
        display: inline-block;
        &:before {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            background-color: red;
            @apply rounded-br-full;
        }
    } */
    /* .circle-before:first-child {
        @apply before:left-0;
    } */
    footer a:hover {
        > svg path, > svg g {
            @apply duration-100;
        }
        #twitter_logo_icon {
            fill: #1DA1F2;
        }
        #telegram_logo_icon {
            fill: #32A4DE;
        }
        #linkedin_logo_icon {
            @apply fill-sky-500;
        }
        #instagram_logo_icon {
            @apply duration-100;
            fill: url(#my-cool-gradient) #447799;
        }
    }
    .icon-5 a {
        @apply hover:text-rose-300;
        > svg {
            @apply h-5 w-5 inline fill-slate-100 mx-1;
        }
        &:hover > svg {
            @apply fill-rose-300;
        }
    }
    .icon-8 a {
        @apply duration-300 text-slate-100 hover:text-rose-300;
        > svg {
            @apply duration-300 h-6 w-6 inline fill-slate-100 mx-1;
        }
        &:hover > svg {
            @apply fill-rose-300;
        }
    }
    .input {
        @apply text-lg py-1 px-2 w-72 bg-transparent border-slate-100/50 border rounded-md max-w-full;
    }
    .button {
        @apply duration-300 border px-6 py-2;
    }
}